/* HEADER */
.header {
  width: 100%;
  background-color: var(--backgMain);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 10px;
  max-width: 50%;
  display: flex;
  justify-content: center;
}

.imgHeader {
  width: 190px;
  height: 100px;
  object-fit: cover;
}

/* MAIN */

section {
  background-color: var(--backgMain);
}

.wrapperMain {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

section h1:first-child {
  padding-top: 190px;
}

.category {
  color: var(--colorText);
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
}

.caroussel>div {
  display: flex;
  /* border: 6px solid red; */
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSlide {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

.slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* border: 6px solid green; */
  scrollbar-width: none;
  overflow-x: none;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul>li {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;
  background-color: var(--backgMain);
}

ul>li,
ul>li a {
  font-size: 1.3rem;
  color: var(--colorText);
}

ul>li p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 768px) {

  .wrapper {
    transition: all 1s linear;
    min-width: 90%;
    justify-content: flex-start !important;
  }

  .imgHeader {
    width: 300px;
    height: 150px;
  }

  .wrapperMain {
    margin-right: 0;
  }

  .slide {
    transition: all 3s linear;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* border: 6px solid green; */
    scrollbar-width: thin;
    overflow-x: hidden;
    gap: 5px;
  }

  .slide::-webkit-scrollbar {
    display: none;
  }

  .imgSlide {
    width: 450px;
    object-fit: cover;
  }

  .caroussel>div {
    height: 250px;
    margin-top: 0;
  }

  ul>li,
  ul>li a {
    font-size: 2rem;
  }

  ul>li p {
    flex-direction: row;
  }
}